.quad {
    width: 100px;
}

#quadOutOuterWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

#quadOutInnerWrapper {
    flex-grow: 1;
}

@media only screen and (max-width: 600px) {
    #quadraticGraph,
    #quadOutOuterWrapper #svgContainer {
        width: 300px;
        height: 300px;
    }
    #quadOutOuterWrapper {
        flex-direction: column-reverse;
    }
}

.intersection {
    display: none;
    stroke: #ffd100;
}

.graphLabel {
    fill: white;
    font-weight: 400;
    font-size: 14px;
}