#genExpressionOut {
    line-height: 5em;
    color: #fff;
    font-weight: 400;
    /* background-color: #cf245f;
  background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899); */
}


